
<div class="container md-col-8">
    <h1 class="titre animate__animated animate__fadeIn">ENTRER VOTRE PSEUDO</h1>
    <input class="animate__animated animate__fadeInRight" type="text" id="inputPseudo" [(ngModel)]="pseudo" placeholder="The destructor" minlength=3 maxlength=10>
    <button (click)="isValid()" class="animate__animated animate__fadeInLeft button myBtn rounded large" data-role="ripple" data-ripple-color="#252C4A">VALIDER</button>
</div>

<a routerLink="/" class="myBtn button btnHome rounded large" data-role="ripple" data-ripple-color="#252C4A"><span class="mif-home mif-3x"></span></a>
<small id="messageInfo">{{mode.name}}</small>