<div *ngIf="haveAllScore;then haveScore else haventScore">here is ignored</div>    
<ng-template #haventScore>

    <img src="https://espace-stockage.fra1.digitaloceanspaces.com/school/MESI/Gif7-Question.gif" alt="">
    <h2 class="titre">CALCUL DES RESULTATS <span class="ani-pass">...</span></h2>
    <img src="https://espace-stockage.fra1.digitaloceanspaces.com/school/MESI/Gif3-Question.gif" alt="">

    <button (click)="haveAllScore= !haveAllScore">test </button>

</ng-template>
<ng-template #haveScore>
    <a routerLink="/" class="myBtn button btnHome rounded large" data-role="ripple" data-ripple-color="#252C4A"><span class="mif-home mif-3x"></span></a>
    <div class="container md-col-8">
        <h1 class="titre">RESULTATS</h1>
        <table class="table">
            <thead>
            <tr>
                <th class="text-left"><span class="titreColonne">PLACE</span></th>
                <th class="text-left"><span class="titreColonne">NOM</span></th>
                <th class="text-right"><span class="titreColonne">SCORE</span></th>
            </tr>
            </thead>
            <tbody>
                
                <tr [ngClass]="{'animate__animated animate__pulse animate__infinite': index ==0}"  *ngFor="let resultScore of resultScoreList; let index = index; let isFirst = first;">
                    <td class="text-left"> {{ index + 1 }}e</td>
                    <td class="text-left">{{ resultScore.pseudo}}</td>
                    <td class="text-right">{{ resultScore.score}}/{{resultScore.scoreMax}}</td>
                </tr>


            </tbody>
        </table>
    </div>
</ng-template>
