<a routerLink="/" class="button btnHome rounded large" data-role="ripple" data-ripple-color="#252C4A"><span class="mif-home mif-3x"></span></a>

<div class="container md-col-8">
    <h1 class="titre">RESULTATS</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="text-left"><span class="titreColonne">NOM</span></th>
            <th class="text-right"><span class="titreColonne">SCORE</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-left">Bill</td>
            <td class="text-right">300</td>
        </tr>
        <tr>
            <td class="text-left">Steve</td>
            <td class="text-right">250</td>
        </tr>
        <tr>
            <td class="text-left">Larry</td>
            <td class="text-right">225</td>
        </tr>
        <tr>
            <td class="text-left">Edouard</td>
            <td class="text-right">200</td>
        </tr>
        <tr>
            <td class="text-left">Jean jean</td>
            <td class="text-right">190</td>
        </tr>
        <tr>
            <td class="text-left">Benedicte</td>
            <td class="text-right">150</td>
        </tr>

        </tbody>
    </table>
</div>
