:host {
    display: flex;
    min-height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 300px;
    width: 70%;
}
.titre{
    font-size: 4.5vmax;
    color: var(--text-color);
    font-weight: bold;
}
.myBtn{
    font-weight: bold;
    background: var(--color-button);
    font-size: 3.5vmax;
    height: 25%;
    width: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnHome{
    background: var(--color-button);
    position: fixed; 
    bottom: 5px ; 
    left: 5px;
}

.table{
    width: 50%;
    height: 70%;
}

th{
    font-size: 2.5vmax;
    color: var(--text-color);
    font-weight: bold;
}
td{
    font-size: 2.0vmax;
    color: var(--text-color);
}
.titreColonne{
    color: #2f3b72;
}