<a routerLink="/" class="button btnHome rounded large" data-role="ripple" data-ripple-color="#252C4A"><span class="mif-home mif-3x"></span></a>

<div class="container md-col-8">
    <h1 class="titre">VOTRE SCORE</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="text-left"><span class="titreColonne">PSEUDO</span></th>
            <th class="text-right"><span class="titreColonne">SCORE</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-left" id="pseudo">{{ pseudo }}</td>
            <td class="text-right" id="point">{{ points }}</td>
        </tr>
        </tbody>
    </table>
</div>
