:host {
    display: flex;
    min-height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conteneur{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: 300px;
}
.row{
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
}
.titre{
    font-size: 3.5vmax;
    color: var(--text-color);
    margin: 0;
}
.myBtn{
    font-weight: bold;
    background: var(--color-button);
    font-size: 3.0vmax;
    height: 100%;
    width: 35%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBtn2{
    font-weight: bold;
    font-size: 1.8vmax;
    background: #2f3b72;
    height: 35%;
    width: 45%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.choixReponse{
    background: #47507c;
}
.btnHome{
    background: var(--color-button);
    position: fixed; 
    bottom: 5px ; 
    left: 5px;
}
#inputPseudo{
    background: transparent;
    border: 0 ;
    border-bottom: var(--text-color) 1px solid;
    color: var(--text-color);
    font-size: 3.5vmax;
    height: auto;
    outline: none;
}

input:focus{
    box-shadow: none;
}
.rowNbQuestion{
    border-bottom: 1px solid ;
    border-color: var(--text-color);
    height: 15%;
}
.rowQuestion{
    height: 25%;
}
#question{
    color: var(--text-color);
    font-size: 2.0vmax;
    text-align: center;
}
.rowReponse{
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}