<div class="conteneur md-col-8">
    <div class="row rowNbQuestion">
        <h2 class="titre">Question 1/10</h2>
    </div>

    <div class="row rowQuestion">
        <span id="question">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo deserunt excepturi corrupti cumque qui exercitationem, facere iste quisquam accusamus repellendus peri.</span>
    </div>

    <div class="row rowReponse">
        <button class="button myBtn2 rounded large" (click)="reponseChoisit($event.target)" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum1</button>
        <button class="button myBtn2 rounded large" (click)="reponseChoisit($event.target)" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum2</button>
        <button class="button myBtn2 rounded large" (click)="reponseChoisit($event.target)" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum3</button>
        <button class="button myBtn2 rounded large" (click)="reponseChoisit($event.target)" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum4</button>
    </div>

    <div class="row">
        <button (click)="isValid()" id="btnValid" class="button myBtn rounded large" data-role="ripple" data-ripple-color="#252C4A">SUIVANT</button>
    </div>
</div>
