<div class="container md-col-8">
    <div class="row rowNbQuestion">
        <h2 class="titre">Question 1/10</h2>
    </div>

    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ullam iste nulla quidem eligendi quos</p>
    </div>

    <div class="row rowReponse">
        <button class="button myBtn2 rounded large" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum</button>
        <button class="button myBtn2 rounded large" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum</button>
        <button class="button myBtn2 rounded large" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum</button>
        <button class="button myBtn2 rounded large" data-role="ripple" data-ripple-color="#252C4A">Lorem ipsum</button>
    </div>

    <div class="row">
        <button (click)="isValid()" class="button myBtn rounded large" data-role="ripple" data-ripple-color="#252C4A">VALIDER</button>
    </div>
</div>
