<h2>ATTENTE DES JOUEURS<span class="ani-pass">...</span></h2>


<button (click)="addUser()" class="button dark outline"><span class="mif-users"></span>FAKE AJOUT PLAYERS</button>
<div class="conteneur lg-col-8">
    <div class="cards" *ngFor="let player of players">
        <div class="rowIcoPlayer">
            <span class="mif-user fg-black icoPlayer"></span>
        </div>
        <div class="rowPseudoPlayer">
            <span class="pseudoPlayer">{{player.nom}}</span>
        </div>
        <div class="rowStatutPlayer">
            <span class="statutPlayer mif-checkmark fg-green" *ngIf="player.statut"></span>
            <span class="statutPlayer mif-cross fg-red" *ngIf="!player.statut"></span>
        </div>
    </div>
</div>
