:host {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2{
    color:  var(--text-color);
    font-family:var(--style-font);
    font-size: var(--font-size);
    border-bottom: 1px solid white;
    padding: 30px;
}
.conteneur{

    min-height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cards{
    height: 80%;
    width: 20%;
    min-width: 150px;
    margin: 10px;
}
.rowIcoPlayer{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowPseudoPlayer{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowStatutPlayer{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icoPlayer{
    font-size: 12vmax;
}
.pseudoPlayer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    background: var(--color-button);
    font-family:var(--style-font);
    font-size: 2.5vmax;
}
.statutPlayer{
    font-size: 5vmax;
}