/* You can add global styles to this file, and also import other style files */
:root{
    --background-color : linear-gradient(45deg, black, DeepSkyBlue);
    --color-button:rgba(255, 218, 185, 0.102);
    --text-color:#F7F9F9;
    --style-font:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-size:3.5vmax;
    --text-info: rgb(6, 91, 119);
}

* {
    margin:0;
    padding:0;
}

html,body{
    height: 100%;
    width: 100%;
    background: var(--background-color) ;
}

.noScroll{
  overflow: hidden;
}
#spinner{
    position: absolute;
    left: 10px ;
    top : 10px;
}

.myBtn {
    font-weight: bold;
    background: var(--color-button);
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    border-right:0px;
    border-left:0px;
    position: relative;
    overflow: hidden;
    color: #F7F9F9;
  }
  
  .myBtn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .myBtn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .myBtn:hover:before {
    left: 100%;
  }
  .messageInfo{
    color: rgba(250, 244, 244, 0.7);
    position: absolute; 
    bottom: 5px ; 
    right: 0;
    margin-right: 20px;
}
.bg-success{
  background-color: rgba(144, 238, 144, 0.200);
}
.bg-warning{
  background-color: rgba(238, 144, 144, 0.200);
}
.btnHome{
  background: var(--color-button);
  position: fixed; 
  bottom: 5px ; 
  left: 5px;
  color: var(--text-color) !important;
}