/* You can add global styles to this file, and also import other style files */
:root{
    --background-color : #252C4A;
    --color-button:#E4F33F;
    --text-color:#F7F9F9;
    --style-font:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-size:3.5vmax;
}

* {
    margin:0;
    padding:0;
}

html,body{
    height: 100%;
    width: 100%;
    background: var(--background-color);
}
