
<div class="container md-col-8">
    <h1 class="titre animate__animated animate__backInDown">PROJET MESI QUIZZ</h1>
    <button (click)="navigateToPseudo(Allmode.solo)"class="titre button animate__animated animate__fadeInRight animate__delay-1s myBtn rounded large" data-role="ripple" data-ripple-color="#252C4A">JOUER {{ Allmode[Allmode.solo] }} </button>
    <button (click)="navigateToPseudo(Allmode.multi)" class="titre button animate__animated animate__fadeInLeft animate__delay-1s button myBtn rounded large" data-role="ripple" data-ripple-color="#252C4A">JOUER {{ Allmode[Allmode.multi] }}</button>
    <button onclick="Metro.dialog.open('#demoDialog1')" class="titre button animate__animated animate__fadeInRight animate__delay-1s button myBtn rounded large" data-role="ripple" data-ripple-color="#252C4A">OPTIONS</button>
</div>

<span class="messageInfo">{{ version }}</span>


<div class="dialog info" data-role="dialog" id="demoDialog1">
    <div class="dialog-title">INFORMATIONS SUR L'ENVIRONNEMENT</div>
    <div class="dialog-content">
        <div class="row d-flex flex-justify-between" >
            <label for="">Type d'environnemnt: </label>
            <b>{{ typeEnvironnement }}</b>
        </div>
        <div class="row d-flex flex-justify-between" >
            <label for="">Adresse du back: </label>
            <b>{{ AdresseBackEnd }}</b>
        </div>
        <div class="row d-flex flex-justify-between" >
            <label for="">Adresse locale: </label>
            <b>{{ AdresseLocal }}</b>
        </div>
        <div class="row d-flex flex-justify-between" >
            <label for="">version : </label>
            <b>{{ version }}</b>
        </div>
    </div>
    <div class="dialog-actions d-flex" style="justify-content: space-between;">
        <button class="button alert js-dialog-close">X</button>
        <button disabled class="button primary js-dialog-close">Télécharger<span class="mif-windows"></span></button>
    </div>
</div>

<img class="animate__animated animate__delay-2s animate__fadeIn" src="https://espace-stockage.fra1.digitaloceanspaces.com/school/MESI/Gif8-Question.gif" alt="">
